*{
    padding: 0px;
    margin: 0px;
}
.maindiv{
    padding: 50px;
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 50px;
}
.card{
    margin: 10px 0px 10px 0px;
    height: auto;
    /* width: 20rem; */
    padding: 12px;
    border: 2px solid black;
   border-radius: 10px;
   background: rgba(0, 0, 0, 0.206);
}
.cartwrapper{
    display: flex;
    flex-direction: row;
    gap: 10px;
    /* flex-wrap: wrap; */
    
}
.Cartcard{
    margin: 2px 0px 2px 0px;
    height: fit-content;
    /* width: 100px; */
    width: fit-content;
    padding: 12px;
    border: 1px solid black;
   border-radius: 4px;
   background: rgba(0, 0, 0, 0.206);
}
.Cartcard img{
    height: 5rem;
    border-radius: 4%;
    border: 1px solid white;
}
.Cartcard .price{
    /* color: red; */
     text-transform: capitalize;
}
.card img{
    height: 15rem;
    border-radius: 10%;
    border: 2px solid white;
}
.Cartcard .buttonsdiv button{
     padding: 0px 4px;
     width: 25px;
     height: 20px;
    font-size: 14px;
    font-weight: lighter;
    background-color: white;
    border-radius: 4px;
}
.buttonsdiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.buttonsdiv button{
    padding: 5px;
    font-size: 1rem;
    font-weight: bold;
    background-color: rgb(181, 212, 212);
    border-radius: 8px;
}
.buttonsdiv button :hover{
    background-color: rgb(0, 0, 0);
    color: white;
}
.totalbuttonsdiv{
     display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15px;
    border-top: 2px solid black;
    padding: 5px;
}
.totalbuttonsdiv button{
    padding: 5px;
    font-size: 1rem;
    font-weight: bold;
    background-color: rgb(181, 212, 212);
    border-radius: 8px;
    
}