*{
    padding: 0px;
    margin: 0px;
}
.maindiv{
    padding: 50px;
}
.wrapper{
    display: flex;
    flex: wrap;
    gap: 10px;
    padding-top: 50px;
}
.card{
    margin: 10px 0px 10px 0px;
    height: auto;
    /* width: 20rem; */
    padding: 12px;
    border: 2px solid black;
   border-radius: 10px;
   background: rgba(0, 0, 0, 0.206);
}
.card img{
    height: 15rem;
    border-radius: 10%;
    border: 2px solid white;
}
.buttonsdiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.buttonsdiv button{
    padding: 5px;
    font-size: 1rem;
    font-weight: bold;
    background-color: rgb(181, 212, 212);
    border-radius: 8px;
}
.buttonsdiv button :hover{
    background-color: rgb(0, 0, 0);
    color: white;
}


