*{
    padding: 0px;
    margin: 0px;
}
.menu{
   display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.card{
    margin: 10px 0px 10px 0px;
    height: auto;
    width: 20rem;
    padding: 12px;
    border: 2px solid black;
   border-radius: 10px;
   background: rgba(0, 0, 0, 0.206);
}
.card img{
    height: 15rem;
    border-radius: 10%;
    border: 2px solid white;
}
